USE [master]
GO
/****** Object:  Database [ProductCrudDb]    Script Date: 5/11/2026 1:46:54 AM ******/
CREATE DATABASE [ProductCrudDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductCrudDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ProductCrudDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProductCrudDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ProductCrudDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductCrudDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductCrudDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/11/2026 1:46:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/11/2026 1:46:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250101000000_InitialCreate', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [Quantity], [Category], [CreatedAt], [UpdatedAt]) VALUES (1, N'Laptop Pro', N'High performance laptop with 16GB RAM', CAST(1299.99 AS Decimal(18, 2)), 50, N'Electronics', CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [Quantity], [Category], [CreatedAt], [UpdatedAt]) VALUES (2, N'Wireless Mouse', N'Ergonomic wireless mouse with long battery life', CAST(29.99 AS Decimal(18, 2)), 200, N'Accessories', CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [Quantity], [Category], [CreatedAt], [UpdatedAt]) VALUES (3, N'USB-C Hub', N'7-in-1 USB-C hub with HDMI, USB 3.0, and SD card reader', CAST(49.99 AS Decimal(18, 2)), 150, N'Accessories', CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
USE [master]
GO
